
.row {
    width: 100%;
    display: block;
    position:relative;
    border: 0px solid black;
}


.column_4 {
    width: 33.2%;
    display: inline-block;
    position:relative;
    border: 0px solid blue;
    text-align: center;
}

.column_5 {
    width: 41%;
    display: inline-block;
    position:relative;
    border: 0px solid blue;
    text-align: center;
}

.column_5 h1{
    font-size: xx-large;
}

.column_5 h3{
    font-size: medium;
}


.column_7 {
    width: 58%;
    display: inline-block;
    position:relative;
    border: 0px solid green;
}


.menu_option  {
    width: 28%;
    display: inline-block;
    position: relative;
    border: 0px solid red;
    margin-left: 3.3%;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 10px;
}

.menu_option a{
    font-size: large;
    color: aquamarine;
}

.header {
    background-color: rgb(33, 33, 33);
    color: aquamarine;
}

.about_content h2{
    font-size: large;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .column_5 { 
      width: 100%;
    }
    .column_7 { 
        width: 100%;
    }
    .column_4 {
        width: 48%;
        margin-left: 0.6%;
    }
}


@media only screen and (min-width: 481px) and (max-width: 768px) {
    .column_5 { 
      width: 40%;
    }
    .menu{
        vertical-align: top;
        margin-top: 47px;
    }
    .column_4 {
        width: 32%;
        margin-left: 0.6%;
    }

    .about_content h2{
        font-size: xx-large;
    }

}