.row {
    width: 100%;
    display: block;
    position:relative;
    border: 0px solid black;
}


.column_4 {
    width: 33%;
    display: inline-block;
    position:relative;
    border: 0px solid blue;
    text-align: center;
    vertical-align: top;
}

.column_4 p {
    font-weight: 700;
    font-size: large;
}

.column_5 {
    width: 41%;
    display: inline-block;
    position:relative;
    border: 0px solid blue;
    text-align: center;
}

.column_5 h1{
    font-size: xx-large;
}

.column_5 h3{
    font-size: medium;
}


.column_7 {
    width: 58%;
    display: inline-block;
    position:relative;
    border: 0px solid green;
}


.menu_option  {
    width: 28%;
    display: inline-block;
    position: relative;
    border: 0px solid red;
    margin-left: 3.3%;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 10px;
}

.menu_option a{
    font-size: large;
    color: aquamarine;
}

.header {
    background-color: rgb(33, 33, 33);
    color: aquamarine;
}

.about_content h2{
    font-size: medium;
    text-decoration: underline;
}

h1 , h2 {
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
}

img {
    float: right;
    width:  250px;
    height: 250px;
}

table, th, td {
    border:1px solid black;
}

.info {
    display: inline-block;
    width: 32%;
    vertical-align: top;
    margin-left: 1%;
}

.info p {
    font-weight: 600;
}

.info h3 {
    text-decoration: underline;
}


.table_heading {
    margin-left: 600px;
    margin-bottom: 400px;
}

.about-us {
    text-align: center;
    position: absolute;
    right: 0px;
    left: 0px;
    top: 0px;
    min-height: 50px;
    z-index: 110;
    background-color: rgb(33, 33, 33);
    margin-top: 700px;
    color: white;
}

aside {
    margin-top: 30px;
    width: 33%;
    font-family: Arial, Helvetica, sans-serif;
}

.contact {
    margin-top: 800px;
}

.contact h1 {
    text-align: center;
}

.contact p {
    text-align: center;
    font-weight: 700;
}


footer {
    margin-top: 200px;
}

footer a {
    font-size: x-large;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .column_5 { 
      width: 100%;
    }
    .column_7 { 
        width: 100%;
    }
    .column_4 {
        width: 48%;
        margin-left: 0.6%;
    }
}


@media only screen and (min-width: 481px) and (max-width: 768px) {
    .column_5 { 
      width: 40%;
    }
    .menu{
        vertical-align: top;
        margin-top: 47px;
    }
    .column_4 {
        width: 32%;
        margin-left: 0.6%;
    }

    .about_content h2{
        font-size: xx-large;
    }

}
    